#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  transform: scale(1.2); 
  transform-origin: top left;
}

h1 {
  font-weight: 800;
  background-image: url('./src/assets/pokemon-sprites.png');
  background-size: 470px;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

body {
  background-color: aliceblue;
  color: black;
}

.pokemon-screen {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search {
  margin: 17px;
}

.stat-list {
  list-style-type: none; 
  padding: 0;
  margin: 0; 
}

.stat-list li {
  margin-bottom: 8px;
}


