#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: aliceblue;
  color: black;
}

.pokemon-screen {
  background-color: aliceblue;

}

#search {
  margin: 17px;
}

.stat-list {
  list-style-type: none; 
  padding: 0;
  margin: 0; 
}

.stat-list li {
  margin-bottom: 8px;
}


