body {
  background-color: aliceblue;
  color: black;
  display: flex; 
  justify-content: space-between; 
  padding: 2rem; 
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between; 
  gap: 1rem;
  margin: 0 auto;
  padding: 0 2rem; 
}

.pokemon-finder {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem; 
  margin-left: 0;
  flex: 1; 
  max-width: calc(50% - 0.5rem); 
}

.pokemon-team-builder {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem; 
  margin-left: 0;
  flex: 1; 
  max-width: calc(50% - 0.5rem); 
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  gap: 1rem; 
  margin-bottom: 1.5rem;
  
}

.pokemon-screen {
  align-items: center;
}

.finder-title {
  font-weight: 800;
  background-image: url('https://external-preview.redd.it/tanpwWIhgfV7dljvjnPXlqp38ow0txtDjoHKDlSsf84.png?auto=webp&s=6656884e0a8dc8bfff17c62c5ed810e34c15f323');
  background-size: 470px;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
}

.builder-title {
  font-weight: 800;
  background-image: url('https://external-preview.redd.it/tanpwWIhgfV7dljvjnPXlqp38ow0txtDjoHKDlSsf84.png?auto=webp&s=6656884e0a8dc8bfff17c62c5ed810e34c15f323');
  background-size: 670px;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
}

.stat-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stat-list li {
  margin-bottom: 8px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 20px;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team-item img {
  width: 100px;
  height: 100px;
}
